input {
    border: 1px solid black;
}

button {
    border: 1px solid black;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid grey;
}

nav > .nav-section {
    padding: 1.25rem 0.5rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid grey;
}

#nav-logo-section,
#nav-search-section {
    flex-basis: calc(100%/5);
}

#nav-button-section {
    flex-grow: 1;
    justify-content: right;
}

main {
    flex-grow: 1;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    height:92.5vh;
}

.main-section {
    border: 1px solid grey;
}

.graph-section {
    grid-column-start: 1;
    grid-column-end: 4;
}

h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: black;
}

a {
    text-decoration: none;
}

h1 { 
    font-size: 1.75em; 
    padding-left: 5px;
}

p { 
    padding-left: 5px;
}
